# SMTP Configuration (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=badhonbytebd@gmail.com
SMTP_PASS=rkkh vvij wsxy bcqf

# Where contact form submissions are sent
CONTACT_EMAIL=badhonbytebd@gmail.com

#mysql database configuration
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=helth_demo
DATABASE_USER=root
DATABASE_PASSWORD=atikur911091
